<!DOCTYPE HTML>
<html>
<body>
<h1>Daily Log: <%= dailyDisplay.date %></h1>
<div>
	<ul>
  	  <li>What Hurts: <%= dailyDisplay.pain_area_1 %></li>
  	  <li>Pain Scale: <%= dailyDisplay.pain_scale %></li>
  	  <li>Comment: <%= dailyDisplay.comment  %></li>
    </ul>
</div>

<a href="/dailies">Back to All Daily Logs</a><br><br>
<a href="/">Back to My Home Page</a>
</body>
</html>