<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Edit A Daily Log</h1>
    <form method="post" action="/dailies/<%= daily.id %>?_method=PUT">
      <input type="text" name="daily[date]" placeholder="Log date" value="<%= daily.date %>"><br />
      <input type="text" name="daily[pain_area_1]" placeholder="pain_area_1" value="<%= daily.pain_area_1 %>"><br />
      <textarea name="article[comment]">
      	<%= daily.comment %>
      </textarea><br />
      <button>Save </button>
    </form>
  </body>
</html>
