<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Client Log In Page</title>

		<!-- Bootstrap core CSS -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
		<!-- <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
		<!-- <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
		<link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic"> -->
	</head>

	<body>
		<!-- Navbar -->
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="nav-container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>	
					<a class="navbar-brand" href="/">The Painfree App</a>	
				</div> <!-- end .navbar-header -->
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div> <!-- end .navbar-collapse -->
			</div> <!-- end .nav-container -->
		</div> <!-- end .navbar -->

		<!-- Jumbotron -->
		<div class="container">
			<div class="jumbotron">
				<h2>Client Log In</h2>
				<a href="/signup">New Client? Sign Up</a>
				<br>
				<a href="/specialists/login">I'm a Practitioner</a>
				<form method="POST" class="form" action="/login">
					<div class="row">
						<div class="col-sm-6">
							<!-- <label for="email">Email</label> -->
							<input type="text" class="form-control" id="email" name="email" placeholder="Email" required="" oninput="buttonEnable();" autofocus="">
						</div> <!-- end .col-sm-6 -->
						<div class="col-sm-6">
							<!-- <label for="password">Password</label> -->
							<input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" oninput="buttonEnable();">
						</div> <!-- end .col-sm-6 -->
					</div> <!-- end .row -->
					<br>
					<button class="button" type="submit" id="submitButton" disabled>Log In</button>
				</form> <!-- end form -->
			</div> <!-- end .jumbotron -->
		</div> <!-- end .container -->

		<!-- Footer -->
		<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
			<div class="nav-container">
				<div class="navbar-text pull-left">
					<p>© 2015 The Painfree App</p>
				</div> <!-- end .navbar-text pull-left -->
				<div class="navbar-text pull-right">
					<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
					<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
					<a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
					<a href="#"><i class="fa fa-trello fa-2x"></i></a>
				</div> <!-- end .navbar-text pull-right -->
			</div> <!-- end .nav-container -->
		</div> <!-- end footer -->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/stylesheets/bootstrap.min.js"></script>
    <script>    
      // Enable submit button when form completed
      function buttonEnable() {
        //console.log("buttonEnable was called");
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var buttonElement = document.getElementById("submitButton");
        
        if ((email!="")&&(password!="")) {
          buttonElement.disabled = false;
        }
        else {
          buttonElement.disabled = true;
        };
      };    
    </script>
	</body>
</html>