<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LOG IN PAGE</title>
</head>
<body>
	<form method="POST" action="/login">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button>Log In</button>
	</form>
</body>
</html>